<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <style>
        .login-area{
            max-width: 600px;
            margin-top: 10vh;
        }
    </style>
    <body>
        <div class="container login-area">
            <h2>User Login</h2>
            <form method="post" action="{{url('app_login')}}">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" value="{{ last_username }}" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Enter password">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-success">Sign In</button>
                <br><br><p>Don't have account? <a href="#">Signup here</a></p>
            </form>
        </div>
    </body> 
</html>
