{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}




{% block body %}

   
    
    {# Sideber #}
    <div class="col-sm-2 sidenav">
        <h4>Hello, {{ app.user.username }}</h4>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{path('dashboard')}}">Home</a></li>
            <li class=""><a href="{{url('dashboard_order_list')}}">Orders</a></li>
            <li class="active"><a href="{{path('dashboard')}}">profile</a></li>
            <li class="active"><a href="{{path('app_logout')}}">Logout</a></li>
        </ul>
    </div>
    

    {# Content #}
    <div class="col-sm-10">
        <h4><small>Admin -> Order -> Details</small></h4>
        <hr>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered" style="max-width: 500px">
                    <tbody>
                            <tr>
                                <td>Order Name: </td>
                                <td>{{order.getOrderName}}</td>
                            </tr>
                            <tr>
                                <td>Date: </td>
                                <td>{{order.getCreatedAt|date}}</td>
                            </tr>
                            <tr>
                                <td>Door Height: </td>
                                <td>{{order.getDoorHeight}}</td>
                            </tr>
                            <tr>
                                <td>Door Width: </td>
                                <td>{{order.getDoorWidth}}</td>
                            </tr>
                            <tr>
                                <td>Handle Side: </td>
                                <td>{{order.getHandleSide}}</td>
                            </tr>
                            <tr>
                                <td>Order Name: </td>
                                <td><input type="color" value="{{order.getDoorColor}}"> {{order.getDoorColor}}</td>
                            </tr>
                            <tr>
                                <td>Status: </td>
                                <td>{{order.getStatus}}</td>
                            </tr>
                    </tbody>
                </table>


                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-12">
                            <canvas id="myCanvas" width="500" height="400" style="border:1px solid #d3d3d3;">
                            Your browser does not support the HTML5 canvas tag.</canvas>
                        </div>
                     </div>
            </div>
        </div>
    </div>




 <script>

        function drawDoor(doorWidth,doorHeight,doorColor,handleSide){
            //console.log(' Width: '+doorWidth+' Height: '+doorHeight+' Color: '+doorColor+' Handle: '+handleSide);
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            ctx.clearRect(0, 0, c.width, c.height);
            ctx.fillStyle = doorColor
            ctx.fillRect(50, 50, doorWidth, doorHeight);
            
            if(handleSide=='left'){
                ctx.fillStyle = "#fff"
                ctx.fillRect(55, (doorHeight+50)/2, 8, 20);
            }else{
                ctx.fillStyle = "#fff"
                ctx.fillRect(doorWidth+35, (doorHeight+50)/2, 8, 20);
            }
        }

        drawDoor({{order.getDoorWidth}},  {{order.getDoorHeight}}, "{{order.getDoorColor}}", "{{order.getHandleSide}}" );

    </script>



{% endblock %}
