<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <style>
                .row.content {height: 93.9vh}
                .sidenav {
                    background-color: #f1f1f1;
                    height: 100%;
                }
                footer {
                    background-color: #555;
                    color: white;
                    padding: 15px;
                }
                @media screen and (max-width: 767px) {
                    .sidenav {
                        height: auto;
                        padding: 15px;
                    }
                    .row.content {height: auto;} 
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row content">
                {% block body %}{% endblock %}
            </div>
        </div>
        {# Footer #}
        <footer class="container-fluid text-center">
            <p>Copyright@Bellal</p>
        </footer>

    </body>
</html>