{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}




{% block body %}

   
    
    {# Sideber #}
    <div class="col-sm-2 sidenav">
        <h4>Hello, {{ app.user.username }}</h4>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{path('user')}}">Home</a></li>
            <li class=""><a href="{{url('user_order_list')}}">Orders</a></li>
            <li class="active"><a href="{{path('user')}}">profile</a></li>
            <li class="active"><a href="{{path('app_logout')}}">Logout</a></li>
        </ul>
    </div>
    

    {# Content #}
    <div class="col-sm-10">
        <h4><small>User -> Orders</small></h4>
        <hr>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Order Name</th>
                        <th class="text-center">Order Date</th>
                        <th class="text-center">Door Height</th>
                        <th class="text-center">Door Width</th>
                        <th class="text-center">Handle Side</th>
                        <th class="text-center">Color</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{order.getOrderName}}</td>
                                <td class="text-center">{{order.getCreatedAt|date}}</td>
                                <td class="text-center">{{order.getDoorHeight}}</td>
                                <td class="text-center">{{order.getDoorWidth}}</td>
                                <td class="text-center">{{order.getHandleSide}}</td>
                                <td class="text-center"><input type="color" value="{{order.getDoorColor}}"> {{order.getDoorColor}} </td>
                                <td class="text-center">{{order.getStatus}}</td>
                                <td class="text-center"><a href="{{ path('user_order_details', {'id': order.getId}) }}" class="btn btn-primary btn-xs">Details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>





{% endblock %}
