{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}




{% block body %}

   <style>
        .stats{
            background: green;
            min-height: 100px;
            text-align: center;
            padding-top: 25px;
            margin: 5px 35px;
            color: #fff;
            font-size: 20px;
            border-radius: 10px;
        }
        .stats a{
            color:  #fff;
        }
   
   </style>
    
    {# Sideber #}
    <div class="col-sm-2 sidenav">
        <h4>Hello, {{ app.user.username }}</h4>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{path('dashboard')}}">Home</a></li>
            <li class="active"><a href="{{url('dashboard_order_list')}}">Orders</a></li>
            <li class="active"><a href="{{path('dashboard')}}">Users</a></li>
            <li class="active"><a href="{{path('app_logout')}}">Logout</a></li>
        </ul>
    </div>
    

    {# Content #}
    <div class="col-sm-10">
        <h4><small>Admin -> Dashboard</small></h4>
        <hr>
        
        <div class="row">
            <div class="col-sm-3 stats"><a href="{{url('dashboard_order_list')}}">Total Orders<br>{{stats.totalOrder}}</a></div>
            <div class="col-sm-3 stats">Total Users<br>{{stats.totalUser}}</div>
        </div>
    </div>




{% endblock %}
