{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}




{% block body %}

   
    
    {# Sideber #}
    <div class="col-sm-2 sidenav">
        <h4>Hello, {{ app.user.username }}</h4>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{path('user')}}">Home</a></li>
            <li class="active"><a href="{{url('user_order_list')}}">Orders</a></li>
            <li class="active"><a href="{{path('user')}}">profile</a></li>
            <li class="active"><a href="{{path('app_logout')}}">Logout</a></li>
        </ul>
    </div>
    

    {# Content #}
    <div class="col-sm-10">
        <h4><small>User -> Dashboard</small></h4>
        <hr>
        
        <div class="row">
            
            <div class="container">
                <form method="post" action="{{url('app_login')}}" >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label for="email">Order Name:</label>
                                <input type="text" name="order_name" id="inputOrderName" class="form-control" placeholder="Enter Order Name">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                <label for="email">Door Width:</label>
                                <input type="number" name="door_width" id="inputDoorWidth" class="form-control" value="150"  placeholder="Enter Door Width">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="email">Door Height:</label>
                                <input type="number" name="door_height" id="inputDoorHeight" class="form-control" value="300"  placeholder="Enter Door Height">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                <label for="email">Door Color:</label>
                                <input type="color" name="door_color" id="inputDoorColor" class="form-control" value="#FB0202"  placeholder="Enter Door Color">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="email">Handle Side:</label>
                                <label for="sel1">Select list:</label>
                                <select class="form-control" id="inputHandleSide" name="handle_side">
                                    <option value="left" >Left</option>
                                    <option value="right" >Right</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            <button type="button" class="btn btn-success" onclick="confirmOrder()" >Confirm Order</button>
                            <button type="button" class="btn btn-warning" onclick="drawDoor()" >Visualize</button>
                        </div>
                        
        
                    </div>


                     <div class="row" style="margin-top: 50px;">
                        <div class="col-md-12">
                            <canvas id="myCanvas" width="500" height="400" style="border:1px solid #d3d3d3;">
                            Your browser does not support the HTML5 canvas tag.</canvas>
                        </div>
                     </div>

                </form>
            </div>

        </div>
    </div>



    <script>

        var myDoor = [];
        function drawDoor(){
            var orderName = $("input#inputOrderName").val();
            var doorWidth = parseInt($("input#inputDoorWidth").val());
            var doorHeight = parseInt($("input#inputDoorHeight").val());
            var doorColor = $("input#inputDoorColor").val();
            var handleSide = $('select#inputHandleSide').find(":selected").val();
            //console.log(orderName+' Width: '+doorWidth+' Height: '+doorHeight+' Color: '+doorColor+' Handle: '+handleSide);
            myDoor = {
              order_name:  orderName,
              door_height:  doorHeight,
              door_width:  doorWidth,
              door_color:  doorColor,
              handle_side:  handleSide
            };
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            ctx.clearRect(0, 0, c.width, c.height);
            ctx.fillStyle = doorColor
            ctx.fillRect(50, 50, doorWidth, doorHeight);
            
            if(handleSide=='left'){
                ctx.fillStyle = "#fff"
                ctx.fillRect(55, (doorHeight+50)/2, 8, 20);
            }else{
                ctx.fillStyle = "#fff"
                ctx.fillRect(doorWidth+35, (doorHeight+50)/2, 8, 20);
            }
        }



        function confirmOrder(){
            drawDoor();
            $.ajax({  
                url:        '{{path('user_confirm_order')}}',  
                type:       'POST',   
                dataType:   'json',
                data:       myDoor, 
                async:      true,  
               success: function(data) {
                   alert(data.message);
                   if(data.status == 200){
                       window.top.location = '{{url('user_order_list')}}'
                   }
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Opps! Something went wrong, Please try again.'); 
               }  
            }); 

        }






    </script>


{% endblock %}
